target/
builddir/
/.flatpak-builder/
*.log
/.vscode
*.iml
.idea/
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.opendb
*.dbmdl
*.bak
*.backup
*.BLOB
*.log
*.vspscc
*.vssscc
*.tmp
*.tmp_proj
*.tmp_test
*.cache
*.ilk
*.meta
*.obj