[package]
name = "bitter-cli"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
tokio.workspace = true
tracing.workspace = true
bitter-core = { path = "../bitter-core" }
